.header-title {
    margin: 10px 0 0 10px;
    text-align: center;
}


.rejected-modal-main-sections{

    .report-sections{
        .report-label{
            font-weight: 600;
            font-size: 18px;
        }
        .report-field{
            width: 100%;
            height: 150px;
        }
    }
}