.search-video-player-tools-sections {
    background-color: #424242;
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;

    .background-for-default-img{
        height: 100%;
        width: 100%;
        background: #000000;
    }
    img{
        width: 100%;
    }
}
