.filterDiv {
  margin-top: 2%;
  p {
    text-align: center;
    padding: 20% 0px;
    font-size: 25px;
    font-weight: 700;
  }
  .filterBox {
    p {
      text-align: center;
      padding: 2% 0px;
    }
  }
}
