.notes-section {
    .create-note-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        .create-btn {
            cursor: pointer;
            background-color: #ffffff;
            font-family: "system-ui";
            font-weight: 900;
            color: #1d1d1d;
            padding: 5.6px 50px;
            font-size: 15px;
            border: none;
            border-radius: 10px;
            align-self: center;
            border: 1px solid #e4e4e4;
            transition: 0.1s ease-in-out;

            &:hover {
                background-color: #3f51b5;
                color: white;
            }
        }
    }
    .profile-note-container-section {
        margin: 10px;

        color: #000;
        .note-container-section {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 20px;

            .note-container-box {
                .note-box {
                    position: relative;
                    .image-design {
                        cursor: pointer;
                        height: 162px;
                        width: 100%;
                    }
                    .open-porper-modal {
                        position: absolute;
                        left: 92%;
                        top: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}


.NoteActionOption {
    width: 100%;
    color: #444343;
    padding: 9px;
    display: flex;
    justify-content: start;
    font-size: 18px;
    align-items: center;
  }
  .NoteActionOption svg {
    margin-right: 5px;
  }
  .NoteActionOption:hover {
    background-color: #ffffff;
    cursor: pointer;
  }



.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "system-ui";
    padding: 0px !important;
    margin: 0 10px !important;
    display: flex !important;
    justify-content: center !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="5px"]::before {
    content: "5px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="8px"]::before {
    content: "8px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
    content: "10px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="15px"]::before {
    content: "15px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: "20px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="25px"]::before {
    content: "25px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before {
    content: "30px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="35px"]::before {
    content: "35px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
    content: "40px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="45px"]::before {
    content: "45px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="50px"]::before {
    content: "50px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="55px"]::before {
    content: "55px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="60px"]::before {
    content: "60px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="65px"]::before {
    content: "65px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="70px"]::before {
    content: "70px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="75px"]::before {
    content: "75px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="80px"]::before {
    content: "80px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="85px"]::before {
    content: "85px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="90px"]::before {
    content: "90px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="95px"]::before {
    content: "95px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="100px"]::before {
    content: "100px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="200px"]::before {
    content: "200px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="300px"]::before {
    content: "300px";
    font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="400px"]::before {
    content: "400px";
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before {
    content: "Size" !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-color: #000 !important;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    color: #000 !important;
    z-index: 2;
}
.ql-container.ql-snow {
    border: 1px solid rgba(204, 204, 204, 0) !important;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 15px;
    align-items: center !important;
    display: flex !important;
    font: -webkit-small-control !important;
}
button.ql-list {
    border: none !important;
    margin: 0px 0px !important;
}
button.ql-indent {
    margin: 0px 15px 0px 0px !important;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    padding: 3px 0px;
    width: 46px;
    border-right: 2px solid #e4e4e4;
    margin: 0px 15px;
}
