.Comments {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 15px;
  border-top: 1px solid #d2d2d2;

  .profileBox {
    flex: 0 0 38px;
    max-width: 38px;
    height: 38px;
    margin-right: 5px;

    .avatar {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .edited {
    font-size: 10px;
    margin-right: 10px;
    color: #666;
  }

  .commentBox {
    position: relative;
    flex: 1 1 auto;

    // likesCountSpan
    .likesCountSpan {
      position: absolute;
      right: 0;
      // bottom: -8.11px;
      display: flex;
      padding: 6px;
      padding-bottom: 10px !important;
      border: 1px solid #e4e4e4;
      background: white;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      width: 82px;
      height: 23px;

      .span {
        display: flex;
        align-items: flex-end;
        // border: 1px solid #e4e4e4;
        // background: white;
      }
    }

    .commentWrapper {
      // background-color: #f2f3f5;
      width: fit-content;
      border-radius: 18px;
      padding: 5px 10px;
      position: relative;

      .comment {
        font-size: 14px;
        margin: 0;
        color: #1c1e21;

        .user {
          font-weight: 700;
          color: #385898;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      img.p {
        margin-top: 10px;
        border-radius: 10px;
        max-height: 200px;
        border: 1px solid #9d9d9d;
        box-shadow: 0 0 5px #000;
      }

      img.e {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.comment_reaction {
  display: flex;
  flex-direction: column;
}

.comment_react {
  margin-left: 38%;
  margin-top: -25%;
}

.reply_icon {
  margin-top: 1%;
}

.comment_time {
  margin-top: -1.2rem;
}