.chart {
  width: 78%;
  margin: 0 auto;
  padding: 10px;
}
.dashbaord button {
  background: transparent !important;
}
.dashbaord button div {
  background: rgb(233, 233, 233);
}

.MuiOutlinedInput-notchedOutline {
  border: 1px solid rgb(194, 194, 194) !important;
}
.MuiInputLabel-shrink {
  color: rgb(0, 0, 0) !important;
}
.PrivateTabIndicator-colorSecondary-5 {
  background-color: #00000000 !important;
}
.PrivateTabIndicator-colorSecondary-41 {
  background-color: #f5005600;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #000000 !important;
  background-color: #e4e4e4;
}
div#demo-simple-select-outlined {
  background-color: transparent !important;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-4 {
  background-color: #ccbbbb00 !important;
}
