.timeline-grid-skeleton-section {
    border: 0.5px solid #cccccc;
    border-radius: 2px;
    height: 190px;

    .timeline-image-skeleton {
        background-color: #cccccccc;
        height: 161px;
        width: 100%;
    }

    .title-skeleton {
        .skeleton-small-text {
            width: 92%;
            height: 1rem;
            margin-top: 10px;
            margin-bottom: 2px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 0.125rem;
        }
    }
}
