.CopyDiv {
  padding: 30px;
  border-radius: 10px;
  background-color: #fafafa;
}
.CopyContent {
  padding: 10px;
  background-color: #ffffff;
}
.NotePreviewDescriptionDiv {
  background-color: rgb(216, 216, 216);
  color: rgb(12, 11, 11);
}
