.CommentIconsContainer {
  padding: 6px 15px;
  border-top: 1px solid #d2d2d2;
  .CommentIconsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    .CommentIcon {
      padding: 0 16px;
      text-align: center;
      cursor: pointer;
      i {
        font-size: 30px;
        color: #939393;
      }
      &.share {
        img {
          opacity: 0.4;
        }
      }
      &.count {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
        p {
          font: {
            size: 24px;
            weight: 700;
          }
        }
      }
      &.MsgCommentIcon {
        img {
          opacity: 0.5;
        }
      }
      img {
        max-height: 30px;
      }
      p {
        margin: 0;
      }
    }
    .icon-active {
      position: absolute;
      top: -80px;
      img {
        transform: scale(3);
      }
    }
  }
}
.MuiTab-textColorInherit.Mui-selected {
  background-color: #3f51b5;
  color: #fff;
}
.MuiListItemText-root {
  span {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}
