.UserContent {
  max-height: max-content;
  margin-bottom: 20px;
  .MuiToolbar-regular {
    max-height: 40px !important;
  }
}
.coveOptionsBtns {
  display: flex;
  align-items: center;
  button {
    display: flex;
    margin: 0 5px;
    padding: 2px 0 0;
  }
}
.cover_userProfile__2M_i- div {
  position: absolute;
  background-color: #00000021;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0;
  height: 31px;
  align-items: center;
}
.timeLineProfile .iCyFyj {
  width: 100%;
}

.timeLineProfile.MuiGrid-container {
  width: 100vw !important;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.timeLineProfile.dSaBNI {
  width: 100vw !important;
}
.dDUcTc {
  cursor: pointer;
  margin: 0px !important;
}
.popercustome p {
  background-color: white;
  padding: 10px;
}
.popercustome p:hover {
  background-color: rgb(231, 231, 231);
  padding: 10px;
}
.ActionBtn {
  border: 1px solid #ffffff;
  width: 54px;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 60%;
}
.ActionBtn:hover {
  background-color: #e4e4e4;
}
