.promote-modal-main-sections {
    .category-sections {
        span {
            text-transform: capitalize;
        }
    }

    .country-sections {
        margin-top: 5px;
        span {
            text-transform: capitalize;
        }
    }

    .state-sections {
        margin-top: 5px;
        span {
            text-transform: capitalize;
        }
    }

    .city-sections {
        margin-top: 5px;
        span {
            text-transform: capitalize;
        }
    }

    .gender-sections {
        margin-top: 5px;
        span {
            text-transform: capitalize;
        }
    }

    .goal-sections {
        margin-top: 5px;
    }

    .budgest-sections {
        margin-top: 5px;
    }
}

.header-title {
    margin: 10px 0 0 10px;
}
