.campaign-adding-sections {
    margin: 10px;

    .campaign-top-sections {
        
        button {
            background-color: #0048ba;
            color: #fff;
            border: none;
            height: 30px;
            width: 60px;
        }
    }
}
