.mails {
  position: relative;
  .header {
    box-shadow: 2px 0 5px 0 #000;
    .MuiTabs-root {
      min-height: 30px;
      .MuiTab-root {
        flex: 1;
        font-size: 12px;
        min-height: 30px;
        max-width: 100%;
      }
      .MuiTab-textColorPrimary.Mui-selected {
        font-weight: bold;
      }
    }
    .tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      & > div.dbdt {
        .MuiFormControl-root {
          width: 50%;
        }
      }
      & > div {
        flex: 3;
        margin: 5px;
        input {
          width: 100%;
          // padding: 5px 10px;
          // border: 1px solid #ccc;
          // &:hover,
          // &:focus {
          //   outline: 0;
          //   border: 1px solid #bbb;
          // }
        }
        .MuiFormControl-root {
          width: 100%;
        }
      }
      & > button {
        flex: 1;
        margin: 5px;
      }
    }
  }
  .YhdbS {
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #008d07;
    }
    .notfound {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mail-list {
      list-style-type: none;
      li {
        display: flex;
        border: 1px solid #b3b3b3;
        margin: 10px;
        a {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 5px 0;
        }
        .mlleft {
          width: max-content;
          .name {
            font-size: 17px;
            font-weight: 500;
            color: black;
          }
          .msg {
            color: #444;
          }
          .dev,
          .loc {
            color: #333;
          }
          .loc {
            cursor: pointer;
            a {
              padding: auto 0;
              color: black;
              font-size: 13px;
            }
          }
        }
        .mlright {
          button {
            margin: 0 5px;
          }
        }
        &.unseen {
          background-color: #b3b3b3;
        }
      }
    }
    .pgntn {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        border-bottom: 0;
      }
    }
  }
}
.msg {
  white-space: pre-wrap;
}
.mldbhr {
  .name {
    display: flex;
    font-size: 16px;
  }
}
