.CopyDiv {
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}
.CopyContent {
  padding: 10px;
  background-color: #ffffff;
}
.NotePreviewDescriptionDiv {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 11, 11);
}
