.home-search-skeleton-section {
    margin-top: 10px;
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    height: 230px;
    .profile-container {
        display: flex;
        gap: 10px;
        align-items: center;
        .profile-avater {
            background-color: #cccccccc;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            margin-left: 5px;
            margin-top: 5px;
        }
        .skeleton-small-text {
            width: 70%;
            height: 1rem;
            margin-top: 5px;
            margin-bottom: 2px;
            border-radius: 0.125rem;
        }
    }

    .home-search-image-skeleton {
        margin-top: 10px;
        background-color: #cccccccc;
        height: 155px;
        width: 100%;
    }
    .title-skeleton {
        // padding: 10px;
        .skeleton-small-text {
            width: 92%;
            height: 1rem;
            margin-top: 10px;
            margin-bottom: 2px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 0.125rem;
        }
    }
}

.post-and-webskeleton-section {
    margin-top: 10px;
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    height: 60px;

    .profile-container {
        display: flex;
        gap: 10px;
        align-items: center;
        .profile-avater {
            background-color: #cccccccc;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            margin-left: 5px;
            margin-top: 5px;
        }
        .skeleton-small-text {
            width: 95%;
            height: 1rem;
            margin-top: 5px;
            margin-bottom: 2px;
            border-radius: 0.125rem;
        }
    }
}
